body{
    font-family: 'Delius', cursive;
    color: whitesmoke;
    /* position: relative; */
}

@font-face {
    font-family:pick;
    src: url(./PickandRoll.ttf);
  } 

.h1{
    font-family:pick ;
    font: size 300px;
    text-shadow: 2px 2px 4px black;
}

.sottotitolo{
    font-family:pick ;
    font: size 100px;
    text-shadow: 3px 3px 5px black;
}


.head-txt {
    margin-top: 250px;
    
}

.fa-microphone-lines{
    color:  #c8e3db;
    text-shadow: 2px 2px 4px black;
}

.fa-magnifying-glass{
color:whitesmoke;
}

.logoPink{
    width: 60px;
}

.logoSky{
    width: 60px;
}


header{
    background: linear-gradient(100deg, rgba(68, 102, 123, 0.387), rgba(151, 154, 154, 0.267)), url('./media/bg-img.png');
    background-position:top;
   /* position: absolute; */
   height: 100vh;
   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .header{
    position
} */

.section2{
    border-top: solid 10px rgba(13, 13, 13, 0.939);
    background-color: #348889e7;
    
    
}


/* .col-custom{
    transition: 0.4s;
} */

#nav1{
    transition: 0.2s;
}

#containerNav{
    transition: 0.2s;
}

.nav-link{
    color:whitesmoke;
}

.nav-link:hover{
    color:rgba(184, 220, 222, 0.979);
    border-bottom: 2px solid yellow;
}

/* SWIPER */

.swiper {
    width: 600px;
    height: 300px;
  }